* {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
.navbar-brand {
    font-weight: 800;
}
.nav-link {
    font-weight: 700;
}
